body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
    background-image: url();
    background-size: cover;
    background-position: center bottom;
    color: #0b0505;
  }

body {
  background-size: cover;
  background-position: center bottom;
  padding: 0;
  color: #050b05;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
}

.navigation {
  background-color: transparent;
  padding-bottom: 10%;
}

.navbar-nav .nav-link {
  transition: all 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.img-fluid {max-width: 100%
  ;
  max-height: 100%;
}

/* CSS Flexbox */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  flex-basis: 200px;
  margin: 10px;
}

.flex-item:hover {
  background-color: #cccccc;
}

.flex-item:active {
  background-color: #aaa;
}
h1 del {
  text-decoration: line-through;
}
.highlight {
  color: orange;
  font-family: 'Your Handwriting Font', cursive;
}


.w3-section p {
  color: black;
  padding: 10px;
}
.contact-info {
  color: black;
}
footer {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
  background-color: #f2f2f200; /* Set the desired background color */
}

footer h1 {
  font-size: 44px;
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px; /* Add margin-top to create space between the h1 and icons */
}

.social-icons img {
  margin: 10px;
  width: 48px; /* Adjust the width as needed */
  height: 48px; /* Adjust the height as needed */
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2); /* Increase the size on hover */
}

.social-icons img:active {
  transform: scale(0.8); /* Decrease the size on active state */
}
@media only screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px (mobile devices) */
}
h2 {
  color: black;
  text-align: center;
}
.download-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color:  #5c8d03;
  color: #050b05;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add box-shadow for edges */

  /* Add transition for smooth effect */
  transition: background-color 0.3s ease, font-size 0.3s ease, box-shadow 0.3s ease;
}

.download-button:hover {
  tbackground-color: #107d2d80; /* Update the background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);} /* Update the box-shadow on hover */

.download-button:active {
  background-color: #107d2dba; /* Update the background color on active state */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); /* Update the box-shadow on active state */
}

.w3-wide {
  margin-top: 20px;
}

.w3-light-grey {
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.w3-container {
  height: 18px;
  line-height: 18px;
  color: #fff;
  background-color: #4CAF50; /* Green color */
  width: 0;
  transition: width 0.8s;
}

.w3-padding-small {
  padding: 4px 8px;
}

.w3-dark-grey {
  background-color: #333;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  animation: slide 10s linear infinite;
}

.highlight {
  background-color: rgba(255, 255, 0, 0);
}
 @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    h1 {
      white-space: nowrap;
      overflow: hidden;
      animation: slide 10s linear infinite;
    }

    .highlight {
      background-color: rgba(255, 255, 0, 0);
    }
    h2 {
      color: rgb(0, 0, 0);
      font-size: 40px;
    }

    h2:hover {
      color: rgb(255, 140, 0);
      font-size: 50px;
    }

    